<!DOCTYPE html>
<html>

<head>
    <title>Admin Login</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="adminLogin">
        <form action="/login" method="post">
            <input type="password" class="myInput2" name="pass" placeholder="password">
            <input id="submtBtnLogin" type="submit" class="inputSubmit2" value="Login">
        </form>
    </div>
</body>

</html>